name: GoLang PR Checks

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493  # v4.2.2
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00  # 6.0.0
        with:
          go-version: '^1.24'
          cache: false

      - name: Go lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47  # v9.0.0
        with:
          version: latest
          args: --verbose --timeout=5m
          only-new-issues: true

      - name: goreleaser check
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a  # v6.4.0
        with:
          args: check

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493  # v4.2.2
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00  # 6.0.0
        with:
          go-version: '^1.24'
          cache: false
      - name: goreleaser build
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a  # v6.4.0
        with:
          args: build  --snapshot --clean
