name: GoLang PR Checks

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v4.2.2
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c  # 6.1.0
        with:
          go-version: '^1.24'
          cache: false

      - name: Go lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601  # v9.1.0
        with:
          version: latest
          args: --verbose --timeout=5m
          only-new-issues: true

      - name: goreleaser check
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a  # v6.4.0
        with:
          args: check

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v4.2.2
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c  # 6.1.0
        with:
          go-version: '^1.24'
          cache: false
      - name: goreleaser build
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a  # v6.4.0
        with:
          args: build  --snapshot --clean
